<div id="last_updated">
	<p>
		<%= link_to "Update", update_faxes_fax_documents_path %>
	</p><p>
		<%= link_to "Logout", destroy_user_session_path %>
	</p>
</div>

<div id="faxes">
  <%= render :partial => "faxes", :object => @faxes %>
</div>