<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>USAi.net Fax Station</title>
<%= javascript_include_tag :all %>
<%= stylesheet_link_tag "master" %>
</head>

<body>
<div id="wrapper">
	<div id="logo"><%= image_tag 'usai_glossy_reflection_sm.png' %></div>
	<%= yield :layout %>
</div>
</body>
</html>